@font-face {
    font-family: 'Anton';
    src: url('./Anton-Regular.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

body {
    background: url('./battleship.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Anton';
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(98, 96, 96);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Anton';
    font-size: 1.5rem;
}

button:hover {
    background-color: rgb(197, 115, 9);
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "player1 player2";
}

@media screen and (max-width: 824px) {
    .grid-container {
        grid-template-areas:
            "header"
            "player1"
            "player2";
    }
}

.instructions {
    margin: 0;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 0;
}

.player1,
.player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2;
}

.p1-container,
.p2-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

/* GAMEBOARD SQUARES */

.square {
    box-sizing: border-box;
    border: solid 1px rgb(45, 45, 45);
    background: white;
    width: 10%;
    height: 10%;
}

.square.active:hover {
    background-color: rgb(197, 115, 9);
}

.ship {
    background-color: black;
}

.active {
    background-color: gray;
}

.hit-ship {
    background-color: red;
}

.hit-miss {
    background-color: rgba(0, 0, 0, 0);
}

/* WINNER MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
    font-size: 2rem;
}