.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "player1 player2";
}

.header {
    grid-area: header;
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2;
}

.p1-container,
.p2-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.square {
    box-sizing: border-box;
    border: solid 1px rgb(45, 45, 45);
    background: white;
    width: 10%;
    height: 10%;
}

.ship {
    background-color: black;
}